pyyaml
requests
websocket-client
transformers
rich
loguru
numpy
pydub
sounddevice
soundfile
playsound3
scipy
onnxruntime
openai
fastapi
uvicorn[standard]
groq
edge-tts
httpx
faster_whisper
chardet
anthropic>=0.18.0
aiohttp~=3.9.0
Brotli~=1.1.0
yarl~=1.9.3